repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: local
    hooks:
      - id: test-suite
        name: Integration Tests
        entry: docker-compose run --rm app poetry run python -m pytest tests/ -v
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-push]
